<!doctype html>
<html>
	<head>
		<title>Argentum - Submit a Station</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="js/materialize.min.js"></script>
	</head>
	<body>
		<div id="app" class="row">
			<div v-if="!loggedin">
					<div class="card-panel col s8 offset-s2">
						<span class="card-content">You need to sign in!</span>
					</div>
				</div>
			<div v-else>
				<div v-if="message" class="card-panel col s8 offset-s2">
					{{message}}
				</div>
				<form id="submitstation" class="col s8 offset-s2" v-on:submit.prevent="signup">
					<div class="row">
						<div class="input-field col s12">
							<input id="name" type="text" class="validate">
							<label for="name">Station Name</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input id="genre" type="text" class="validate">
							<label for="genre">Station Genre</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<textarea id="description" class="materialize-textarea"></textarea>
							<label for="description">Station Description</label>
						</div>
					</div>
					<!--More info to be put here-->
					<div class="row">
						<div class="input-field col s12">
							<input id="streamurl" type="text" class="validate">
							<label for="streamurl">Stream URL</label>
						</div>
					</div>
					<input class="waves-effect waves-light btn" type="submit" value="Submit!">
				</form>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="js/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/vue.resource/1.2.0/vue-resource.min.js"></script>
	<script src="https://cdn.jsdelivr.net/vue.resource/1.2.0/vue-resource.min.js"></script>
	<script type="text/javascript" src="js/views/submitstation.js"></script>
</html>
