html{
	margin : 0;
}

@font-face{
	font-family : FreeroadRegular;
	src : url(../fonts/Freeroad_Regular.ttf);
}

@font-face{
	font-family : FreeroadLight;
	src : url(../fonts/Freeroad_Light.ttf);
}

.logo{
	max-height : 10vh;
	max-width : 20vw;
	padding : 0;
}

.menu-item{
	padding-top : 25px;
}

.nav-custom{
	margin : 0;
	border : 0px;
	background-color : #FFEF08;
	font-family : FreeroadLight;
	font-size : 6vh;
}

.content-container {
	width : 100vw;
	margin : 0;
}

.frontpage{
	overflow: none;
	display: table-cell;
	vertical-align: middle;
	text-align : center;
	margin : 0;
	height : 100vh;
	width : 100vw;
	background-color : #FFEF08;
}
h1.header{
	font-size : 8vw;
	font-family : FreeroadRegular;
}

.greenline {
	display:block;
	overflow : none;
	text-align : center;
	margin : 0;
	width : 100%;
	background-color : #418F3D;
}
h2.announcement {
	max-width : 100%;
	padding-bottom : 50px;
	color : #FFFFFF;
	font-size : 5vw;
	font-family : FreeroadRegular;
}
h3.header {
	max-width : 100%;
	padding-top : 50px;
	color : #FFFFFF;
	font-size : 3vw;
	font-family : FreeroadRegular;
}
.beigeline {
	display:block;
	overflow : none;
	text-align : center;
	margin : 0;
	width : 100%;
	background-color : #FAC184;
}
.whiteline {
	display:block;
	overflow : none;
	text-align : center;
	margin : 0;
	width : 100%;
	background-color : #FFFFFF;
}
.custom-thumbnail {
	border : 0px;
	margin : 10px;
}
h3.quote{
	max-width : 100%;
	padding-bottom : 5px;
	color : #FFFFFF;
	font-size : 6vh;
	font-family : FreeroadRegular;
}
h4.attribution {
	text-align : right;
	max-width : 100%;
	padding-bottom : 5px;
	color : #FFFFFF;
	font-size : 4vh;
	font-family : FreeroadRegular;
}
.pinkline {
	display:block;
	overflow : none;
	text-align : center;
	margin : 0;
	width : 100%;
	background-color : #FF00EE;
}
p.description{
	text-align : left;
	font-family : FreeroadRegular;
	font-size : 3vh;
}
h3.copyright {
	max-width : 100%;
	padding-top : 10px;
	color : 0;
	font-size : 6vh;
	font-family : FreeroadRegular;
}
